.paralax#home {
  background-image: url("../img/IMG_6324.JPG");
}

.paralax {
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.thumbnail {
  position: relative;
}
 .caption {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 100%;
}

.image-item{
  width: 30rem;
  height: 15rem;
}
.dos-n{
  right: 25%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color: #008CBA;
}

.card-pin:hover .overlay {
  opacity: .5;
  border: 5px solid #f3f3f3;
  transition: ease .5s;
  background-color: #000000;
  cursor: pointer;
}

.more {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  transform: translate(-20%, -20%);
  -ms-transform: translate(-50%, -50%);
}


.card-pin:hover .card-title {
  color: #ffffff;
  margin-top: 10px;
  text-align: center;
  font-size: 1.2em;
}

.card-pin:hover .more a {
  text-decoration: none;
  color: #ffffff;
}
.color {
  color: #000000 !important;
  text-shadow: 1px 2px 5px #565454;
}
.big{
  height: 5rem !important;
}